// Colors
$background: #0C1829;
$box: #13243C;
$title: #FFFFFF;
$primary: #04FCFA;
$body: #9293B9;
$stroke: #2B3953;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600&display=swap');

body {
    font-family: 'Manrope', sans-serif;
}